<ion-header>
  <ion-toolbar>
    <ion-title>My Habits</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addHabit()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let habit of habits$ | async">
      <ion-item>
        <ion-label>
          <h2>{{ habit.name }}</h2>
          <p>Streak: {{ habit.streak }} days</p>
        </ion-label>
        <ion-button slot="end" (click)="completeHabit(habit)" fill="clear">
          <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addHabit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>